/****** GLOBAL ********/

@media screen and (max-width: 500px) {
    html {
        float: none;
        display: block;
        text-align: left;
    }
}

html {
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

href, a {

    color: black;


}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;


}

/****** HEADER ********/

header {

    width: auto;

}

.header {

    overflow: hidden;
    background-color: #85CDF5;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 1.5rem;


}

.logo {

    width: 3rem;

}

.left_header,
.right_header {

    margin: 1vh;

}

/****** MAIN ********/

/**** PÁGINA INICIAL ****/

/*** banner ***/



.main_banner img {

    width: 100%;
    height: 45vh;
    

}

.main_banner figcaption {

    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 5px grey;
    margin-top: 20px;

}

#caption1 {

    top: 8vh;
    font-size: 3rem;

}

#caption2 {

    top: 20vh;
    font-size: 1rem;
}

/*** sobre ***/

.sobre_container {
    
    background-color: #2C5680;
    width: 100%;
    display: inline-block;
    color: white;

}

.sobre_container h1 {

    font-size: 2rem;
    line-height: 10vh;
    color: #DEB959;
    text-align: center;

}

#sobre_text {

    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    margin-bottom: 5vh;
    text-align: center;

}

/*** valores ***/

.valores_container {

    background-color: grey;

}

.valores_container h1 {

    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 5vh;
    font-size: 2rem;
    color: #DEB959;

    

}

.icon {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15vh 0.2vw;

}

.icon img {
    border: 20px solid white;
    background-color: white;
    border-radius: 60px;
    width: 6rem;

}

.icons_container {

    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: white;

}

.icons_container p {

    font-size: 1rem;
    margin-top: 1rem;

}

.icons_container .name {

    font-size: 1.5rem;

}

.icons_container .desc {

    width: 15vw;

}

/*** wolfs exemplo ***/

.main_wolfs {

    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;

}

.wolf_title {

    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: #DEB959;

}

.wolf_title h1 {

    padding-top: 5vh;

}

.wolf_container {

    padding-top: 10vh;
    width: 100%;
    display: flex;


}

#wolf_img1 img{

    box-shadow: -50px -20px #2C5680;
    margin-left: 5rem;

}

#wolf_img2 img{

    box-shadow: 50px -20px #2C5680;
    margin-right: 5rem;

}

.wolf_img img{

    width: 25rem;
    height: 20rem;
    
}

.wolf_stats {

    width: 100%;

}

#name {

    font-size: 2rem;
    display: inline-block;

}

#age {

    margin-top: 1rem;
    font-size: 1rem;

}
#age2{
    margin-top: 1rem;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
}

#description {

    margin-top: 3rem;
    font-size: 1.3rem;

}


.adopt_button_div{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/****** FOOTER ******/

.gradient {

    width: 100%;
    height: 5px;
    background: rgb(44,86,128);
    background: linear-gradient(90deg, rgba(44,86,128,1) 0%, rgba(222,185,89,1) 100%);

}

.bottom{

    margin-top: auto;

}
footer {

    overflow: hidden;
    background-color: #130208;
    margin: auto;
    width: 100%;
    display: flex;
    color: white;

}

.footer_info {

    padding-top: 2rem;
    display: flex;
    font-size: .6rem;

}

.footer_img {

    margin: auto;

}

.footer_img img {

    width: 5rem;
    height: 5rem;

}

/**** PÁGINA LISTA LOBINHOS ****/

.filter_div{
    display: flex;
    justify-content: space-around;
}

#btn_show {

    background-color: #85CDF5;
    border: 2px black solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    


}

/**** PÁGINA QUEM SOMOS ****/

.quem_somos {

    display: flex;
    flex-direction: column;
    color: black;
    text-align: center;
    padding: 6vh 10vw;

}

.quem_somos h1 {

    font-size: 4rem;

}

.quem_somos p {

    font-size: 1.5rem;

}

/**** PÁGINA SHOW LOBINHO ****/

.main_show {

    display: flex;
    flex-direction: column;
    color: black;
    padding: 6vh 10vw;

}

#wolf_showname {

    text-align: center;
    font-size: 3rem;

}

.btn_container {

    text-align: center;
    padding: 5vh;

}

#btn_adopt {

    background-color: green;
    border: 2px black solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;


}

#btn_remove {

    background-color: crimson;
    border: 2px black solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;


}

/**** PÁGINA ADOTAR LOBINHOS ****/

.main_adopt {

    display: flex;
    flex-direction: column;
    color: black;
    padding: 0vh 10vw;

}

#wolf_round_img img {

    border-radius: 400px;

}

.adopt_form {

    display: flex;
    flex-direction: column;
    margin: 20px;
    line-height: 2rem;

}

.adopt_form label {

    font-size: 1.5rem;

}

.adopt_form input {

    height: 2rem;
    border: none;
    border-bottom: 2px solid black;

}

/**** PÁGINA ADICIONAR LOBINHO ****/

.main_create_wolf {

    display: flex;
    flex-direction: column;
    margin: 10vh;
    border: 2px black solid;

}

.adoption_title {

    font-size: 3rem;
    text-align: center;
    padding: 2rem;
}

#btn_save {

    background-color: green;
    border: 2px black solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;


}